<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>

<script>


    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/stream/');

    chatSocket.onmessage = function(e) {
        console.log("socket ko message aaya!")

    };

    chatSocket.onopen = function(e) {
        console.log('Hurray! Chat socket opened');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };



</script>
</html>
